html {
    font-size: 14px;
}

@media (min-width: 90%) {

}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.Prova {
    width: 75%;
    padding-left: 20%;
}

.UserOptions {
    float: right;
    display: inline;
    height: 100%;
    font-size: 1.25rem;
}

.ServerTitle {
    font-size: 25px;
    color: white;
    text-align: center;
    width: 100%;
}