
@{
    ViewData["Title"] = "Server Management";
    Layout = "~/Views/ServerManagement/_Layout.cshtml";
}

<div class="ServerTitle">
    Server Management: @ViewData["ServerSelected"].ToString()
</div>

<div>

</div>